    <%= simple_form_for([:admin,@book, @book.reviews.build]) do |f| %>
        <div id="admin-rating-form">
         <label> Rating </label>
    </div>
    <%= f.input :comment %>
    <%= f.button :submit %>
    <% end %>
    <script>
    $('#admin-rating-form').raty({
        path: '/assets/',
    
        scoreName: 'review[rating]'
    });
    $('#admin-rating-form').raty('reload');
    </script>
